<h1>Admin Dashboard</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Number of Products</th>
      <th scope="col">Number of Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> 
        <%= link_to Product.count,  [:admin, :products] %> 
      </td>
      <td> 
        <%= link_to Category.count,  [:admin, :products] %>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to "Click here to go to Admin Products",  [:admin, :products], class: 'btn btn-lg btn-primary' %>